---
# -*- html -*- mode
topnav:
  - text: About
    href: /about/
  - text: Blog
    href: /
    http: "http://olesenm.github.com"
  - text: Archives
    href: /archives/
  - text: Categories
    href: /tags/
  - text: Other
    href: /other/
---
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<title>Mark Olesen : {{ page.title }} </title>
<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
<meta name="language" content="en" />
<link rel="stylesheet" type="text/css" href="/css/default.css" />
<link rel="stylesheet" type="text/css" href="/css/syntax.css" />
</head>

{% assign navTitle = 'Blog' %}
{% for t in page.topnav %}
{% if t.text == page.title %}{% assign navTitle = page.title %}{% endif %}
{% endfor %}

<body>
<div class="page_margins">
  <div id="header">
    <h2><a href="http://olesenm.github.com">Mark Olesen</a></h2>
    <div class="clear"></div>

    <!-- begin: main navigation #nav -->
    <div id="nav">
      <div class="hlist">
        <ul>
          {% for t in page.topnav %}
          <li{% if t.text == navTitle %} class="active"{% endif %}>
          <a href="{{ t.href }}"{% if t.title %} title="{{ t.title }}"{% endif %}>{{ t.text }}</a>
          </li>
          {% endfor %}
          <li><a href="http://github.com/olesenm">Repositories</a></li>
        </ul>
      </div>
    </div>
    <!-- end: main navigation -->
  </div>

  <!-- begin: main content area #main -->
  <div id="main">
    <div id="col1">
      <div id="col1_content">
        {{ content }}
      </div>
    </div>
    <div id="col3">
      <div id="col3_content">
        <h6 class="vlist">GitHub projects</h6>
        <ul class="vlist">
          <li>
            <a
              href="http://olesenm.github.com/flex-grid"
              title="Tools for GridEngine integration"
              >flex-grid</a>
          </li>
          <li>
            <a
              href="http://olesenm.github.com/xml-qstat"
              title="Web-based status monitoring of Grid Engine clusters"
              >xml-qstat</a>
          </li>
        </ul>
        <h6 class="vlist">Misc. Links</h6>
        <ul class="vlist">
          <li>
            <a
              href="http://gridengine.sunsource.net"
              >GridEngine</a>:
            <a
              href="http://gridengine.info/"
              >info</a>
            <a
              href="http://wiki.gridengine.info/wiki/"
              >wiki</a>
          </li>
          <li>
            <a
              href="http://www.openfoam.com"
              >OpenFOAM</a>:
            <a
              href="http://github.com/OpenCFD/OpenFOAM-2.0.x"
              >2.0.x git</a>
            <a
              href="http://www.cfd-online.com/Forums/openfoam/"
              >forums</a>
            <a
              href="http://openfoamwiki.net/"
              >wiki</a>
          </li>
          </ul>
        <br/>
      </div>
    </div>
    <div class="clear"></div>
  </div>
  <!-- end: #main -->

  <!-- begin: #footer -->
  <div id="footer">
    <div class="hlist">
      <ul>
        {% for t in page.topnav %}
        <li{% if t.text == navTitle %} class="active"{% endif %}>
        <a href="{% if t.http %}{{ t.http }}{% else %}{{ t.href }}{% endif %}"
        {% if t.title %} title="{{ t.title }}"{% endif %}
        >{{ t.text }}</a>
        {% if forloop.last == false %} | {% endif %}
        </li>
        {% endfor %}
        <li>&ndash; updated {{ site.time | date:"%Y-%m-%d" }}</li>
      </ul>
    </div>
  </div>
  <!-- end: #footer -->

</div>

</body>
</html>
