---
# -*- html -*- mode
topnav:
  - text: About
    href: /about/
  - text: Blog
    href: /
    http: "http://bamos.github.com"
  - text: Archives
    href: /archives/
  - text: Tags
    href: /tags/
---
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Brandon Amos: {{ page.title }} </title>
<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
<meta name="language" content="en" />
<link rel="stylesheet" type="text/css" href="/css/default.css" />
<link rel="stylesheet" type="text/css" href="/css/syntax.css" />

<script type="text/javascript">var switchTo5x=true;</script>
<script type="text/javascript"
    src="http://w.sharethis.com/button/buttons.js"></script>
<script type="text/javascript">
    stLight.options({publisher: "4eadd1ab-307d-4c90-acdc-9def4fd94cd9"});
</script>

</head>

{% assign navTitle = 'Blog' %}
{% for t in page.topnav %}
{% if t.text == page.title %}{% assign navTitle = page.title %}{% endif %}
{% endfor %}

<body>
<script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-37260876-1']);
    _gaq.push(['_trackPageview']);

    (function() {
        var ga = document.createElement('script');
        ga.type = 'text/javascript';
        ga.async = true;
        ga.src = 'http://www.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(ga, s);
    })();
</script>

<div class="page_margins">
  <div id="header">
    <h2><a href="http://bamos.github.com">Brandon Amos</a></h2>
    <div class="clear"></div>

    <!-- begin: main navigation #nav -->
    <div id="nav">
      <div class="hlist">
        <ul>
          {% for t in page.topnav %}
          <li{% if t.text == navTitle %} class="active"{% endif %}>
          <a href="{{ t.href }}"{% if t.title %} title="{{ t.title }}"{% endif %}>{{ t.text }}</a>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
    <!-- end: main navigation -->
  </div>

  <!-- begin: main content area #main -->
  <div id="main">
    <div id="col1">
      <div id="col1_content">
        {{ content }}
      </div>
    </div>
    <div id="col3">
      <div id="col3_content">
        <h6 class="vlist">Links</h6>
        <ul class="vlist">
          <li>
            <a
              href="http://www.facebook.com/bdamos"
              >Facebook</a>
          </li>
          <li>
            <a
              href="http://github.com/bamos"
              >GitHub</a>
          </li>
          <li>
            <a
              href="https://plus.google.com/100160904081630441204"
              >Google+</a>
          </li>
          <li>
            <a
              href="http://www.linkedin.com/profile/view?id=165493965"
              >LinkedIn</a>
          </li>
          <li>
            <a
              href="http://stackexchange.com/users/1388178/highphi?tab=accounts"
              >StackExchange</a>
          </li>
        </ul>
        <br/>
      </div>
    </div>
    <div class="clear"></div>
  </div>
  <!-- end: #main -->

  <!-- begin: #footer -->
  <div id="footer">
    <div class="hlist">
      <ul>
        {% for t in page.topnav %}
        <li{% if t.text == navTitle %} class="active"{% endif %}>
        <a href="{% if t.http %}{{ t.http }}{% else %}{{ t.href }}{% endif %}"
        {% if t.title %} title="{{ t.title }}"{% endif %}
        >{{ t.text }}</a>
        {% if forloop.last == false %} | {% endif %}
        </li>
        {% endfor %}
        <li><small><em>
            &ndash; Generated {{ site.time | date:"%Y.%m.%d" }}
        </em></small></li>
      </ul>
      <a href="/feed.xml">
        <img class="alignright" src="/images/rss.png" alt="RSS Feed"/>
      </a>
    </div>
  </div>
  <!-- end: #footer -->

</div>

</body>
</html>
