---
# -*- html -*- mode
topnav:
  - text: About
    href: /about/
  - text: Blog
    href: /
  - text: Archives
    href: /archives/
  - text: Tags
    href: /tags/
---
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>Brandon Amos: {{ page.title }}</title>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <meta name="language" content="en" />
  <link rel="stylesheet" type="text/css" href="/css/default.css" />
  <link rel="stylesheet" type="text/css" href="/css/syntax.css" />
</head>

<body>
<div class="page_margins">
  <div id="header">
    <h2><a href="http://bamos.github.com">Brandon Amos</a></h2>
    <div class="clear"></div>

    <div id="nav" class="hlist">
        <ul>
        {% for t in page.topnav %}
          <li
            {% if t.text == page.title and page.title != "PGP" and page.title != "Curriculum Vitae" and page.title != "Resume" %}
              class="active"
            {% endif %}
          >
          <a href="{{ t.href }}" title="{{ t.title }}">{{ t.text }}</a>
        </li>
        {% endfor %}
        </ul>
    </div>
  </div>

  <div id="main">
    <div id="col1">
      <div id="col1_content">{{ content }}</div>
    </div>
    <div id="col3">
      <div id="col3_content">
        <h6 class="vlist">Links</h6>
        <ul class="vlist">
          <li style="padding: 4px 0 4px 0;">
            <a href="http://github.com/bamos" >GitHub</a>
          </li>
          <li style="padding: 4px 0 4px 0;">
            <a href="http://google.com/+BrandonAmos" >Google+</a>
          </li>
          <li style="padding: 4px 0 4px 0;">
            <a href="http://www.linkedin.com/profile/view?id=165493965" >LinkedIn</a>
          </li>
          <li style="padding: 4px 0 4px 0;">
            <a href="http://bamos.github.io/pgp"> PGP</a>
          </li>
          <li style="padding: 4px 0 4px 0;">
            <a href="http://stackexchange.com/users/1318112/highphi?tab=accounts" >SE</a>
          </li>
        </ul>
        <br/>
      </div>
    </div>
    <div class="clear"></div>
  </div>

  <div id="footer">
    <div class="hlist">
      <ul>
        {% for t in page.topnav %}
          <li
            {% if t.text == page.title and page.title != "PGP" and page.title != "Curriculum Vitae" and page.title != "Resume" %}
              class="active"
            {% endif %}
          >
          <a href="{{ t.href }}" title="{{ t.title }}">{{ t.text }}</a>
          {% if forloop.last == false %} | {% endif %}
        </li>
        {% endfor %}
        <li><small><em>&ndash; Generated {{ site.time | date:"%Y.%m.%d" }}</em></small></li>
      </ul>
      <a href="/feed.xml">
        <img class="alignright" src="/images/rss.png" alt="RSS Feed"/>
      </a>
    </div>
  </div>
</div>

<script src="//static.getclicky.com/js" type="text/javascript"></script>
<script type="text/javascript">try{ clicky.init(100602499); }catch(e){}</script>
<script type="text/javascript">var switchTo5x=true;</script>
</body>
</html>
