---
# -*- html -*- mode
layout: default
---
<div class="post">
  <h3>{{page.title}}</h3>
  {{ content }}
</div>

<small class="meta final">
  {{ page.date | date:"%d %b %Y" }}
  {% for t in page.tags %}
  {% if forloop.first == true %} | {% endif %}
  <a href='/tags#{{ t | escape }}'>{{ t }}</a>{% if forloop.last == false %}, {% endif %}
  {% endfor %}
</small>

<br/>
<span class='st_googleplus_large'></span>
<span class='st_facebook_large'></span>
<span class='st_twitter_large'></span>
<span class='st_linkedin_large'></span>
<span class='st_pinterest_large'></span>
<span class='st_blogger_large'></span>
<span class='st_delicious_large'></span>
<span class='st_reddit_large'></span>
<span class='st_slashdot_large'></span>
<span class='st_tumblr_large'></span>
<span class='st_stumbleupon_large'></span>
<br/><br/>
<div id="disqus_thread"></div>
<script
    type="text/javascript"
    src="http://disqus.com/forums/brandonamosblog/embed.js">
</script>
<noscript>
    View the <a href="http://disqus.com/?ref_noscript">comments.</a>
</noscript>
<a href="http://disqus.com" class="dsq-brlink">
    Comments powered by <span class="logo-disqus">Disqus</span>
</a>
