---
# -*- html -*- mode
layout: default
---
<div class="post">
  <h3>{{page.title}}</h3>
  {{ content }}
</div>

<small class="meta final">
  {{ page.date | date:"%d %b %Y" }}
  {% for t in page.tags %}
  {% if forloop.first == true %} | {% endif %}
  <a href='/tags#{{ t | escape }}'>{{ t }}</a>{% if forloop.last == false %}, {% endif %}
  {% endfor %}
</small>

